#content-container {
	position:absolute;
	height:100%;
	width: 100%;
	top: 0px;
	padding-top: 64px;
}

#hierarchy-container {
	position: relative;
	height: 100%;
	width: 30%;
	float: left;
}

#detail-container {
	position: relative;
	width: 70%;
	margin-left: 30%;
	height: 100%;
	background-color: #aaaabb;
}

.hierarchy-actions-button {
	padding: 3px;
	font-size: x-small;
}

#folders-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#reports-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#detail-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 320px) {
	#hierarchy-container {
		width: 100%;
		float: none;
	}

	#detail-container {

		margin-left: 0;
		width: 100%;
	}
}