#folders-container-area {
	position: relative;
	background: #aaa;
	height: 50%;
	width: 100%;
	float:left;
}

#folders-container {
	position: relative;
	overflow-y: scroll;
	height: 100%;
}

.folder-row {
	width: 100%;
	background-color: #213563;
	padding: 5px;
	color: #FFFFFF;
}

.folder-top-bar {
	width: 100%;
}

.folder-collapse-button {
	display: inline;
	width: 20px;
	height: 20px;
	padding: 2px 2px 2px 2px;
	margin: 0px 0px 0px 0px;
	font-size: x-small;
}

.folder-title {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: small;
}

.folder-selected {
	background-color: #C06306;
  transition: all 0.5s;
  animation: flicker 2s infinite;
}

@keyframes flicker {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

.folder-comment {
	display: inline;
	width: 10px;
	font-size: x-small;
	overflow: scroll;
}

.folder-float-right-element {
	position: absolute;
	right: 0;
	display: inline;
	float:right;
	font-size: x-small;
}

.folder-actions-group>ul {
	min-width: auto;
	background-color: #666;
}


.folder-actions-group>ul>li {
	font-size: x-small;
}

.elementHandle {
	padding: 2px 2px;
	margin: 2px 2px;
	color: white;
}

.folder-interior {
	background-color: #436cc1;
	padding: 1px 0px 1px 10px;

	/* http://jsfiddle.net/3fTyt/1120/ */
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}