.logo-64 {
	position: absolute;
	display: inline-block;
	width: 64px;
	height: 64px;

	background-image: url('../assets/img/navfit99-64.png');
	background-repeat: no-repeat;
}
.title-64 {
	position: absolute;
	bottom: -2px;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}

.action-btn {
	margin: 15px 5px 15px 5px;
}
.button-bar {
	display: table;
	margin: 0 auto;
}

#loader {
	position: relative;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
  border-top: 5px solid #FF7F2A;
	border-right: 5px solid #3C3C3C;
	border-bottom: 5px solid #FF7F2A;
	border-left: 5px solid #3C3C3C;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}