#import-alert {
	position: fixed;
	top: 10px;
	left: 50%;
	margin:auto;
	width: 80%;
	z-index: 100;
	left: 0;
	right: 0;
	display: none;
}



#edit-alert {
	position: fixed;
	top: 10px;
	margin:auto;
	width: 50%;
	min-width: 475px;
	z-index: 100;
	left: 0;
	right: 0;
	display: none;
}

@media screen and (max-width: 480px) {
    #edit-alert {
    	min-width: 90%;
    }
}

#edit-uuid-text {
	width: 100%;
}