.metadata-row {
	display: block;
	padding: 10px;
	background-color: #FFEEBC;
}
.metadata-row>label {
	margin: 0px;
}

.fields-row {
	display: block;
}

.field-block {
	border-style: solid;
	border-width: thin;
}

.field-block>input[type=text] {
	width: 100%;
}

.field-block>select {
	width: 100%;
}

.field-block>label {
	display: block; /* keep each radio button and label on separate line */
}